body {
  background-color: #90EE90;
  color: black;
  padding: 40px;
  font-family: Arial;
  text-align: left;
}

input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

#container {
  height: 100%;
  visibility: hidden;
}

#bottomPane {
  height: 200px;
}

#grid {
  height: 100%;
}

.dgrid {
  border: none;
}

.field-id {
  cursor: pointer;
}
